[submodule "reflex-platform"]
	path = reflex-platform
	url = https://github.com/reflex-frp/reflex-platform
[submodule "modifiedDeps/ghcjs-three"]
	path = modifiedDeps/ghcjs-three
	url = https://github.com/bmabsout/ghcjs-three.git
